<a href="{{ prod.url }}" class="product__card">
    <img src="{{ prod.featured_image | img_url: '1200x', crop:'center'  }}" loading="lazy" class="w-full mb-4">
    <div class="product__card-hover glow-bubble"></div>
    <div class="product__card-hover-text">Shop Now</div>
    <div>
        {% if category != blank %}
            <p class="product__card-category block font-italic text-24 -mb-2">{{ category }} —</p>
        {% endif %}
        <p class="product__card-title block font-matterlight text-24">{{ prod.title }}</p>
    </div>
    <p class="product__card-price font-matter text-18 text-brown">{{ prod.price | money_without_trailing_zeros }}</p>
</a>