{% section 'header-wordmark-brown' %}

<div class="hero account bg-cream pt-40">
  <div class="container-1280 pt-20 pb-40 md:py-8 space-y-8 text-center">
    <a href="/account/logout" class="font-matter tracking-wider text-13 leading-tight text-brown pb-1 border-b border-brown hover:text-orange hover:border-orange">Logout</a>
    <h1 class="mb-5 text-[50px] font-heading lg:text-30">Account</h1>
    <p class="font-matterlight text-24 md:text-20">Welcome back, {{ customer.first_name }}!</p>
    <div class="orders space-y-8">
      <div class="">
        {% if customer.orders.size != 0 %}
          {% paginate customer.orders by 10 %}
            <div class="table-wrap">
              <table class="w-full whitespace-nowrap">
                <thead>
                  <tr>
                    <th class="text-left">Order</th>
                    <th class="text-left">Date</th>
                    <th class="text-left">Payment</th>
                    <th class="text-left">Fullfillment</th>
                    <th class="text-right">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in customer.orders %}
                    <tr>
                      <td class="order-name">{{ order.name | link_to: order.customer_url }}</td>
                      <td>{{ order.created_at | date: format: 'abbreviated_date' }}</td>
                      <td>{{ order.financial_status_label }}</td>
                      <td>{{ order.fulfillment_status_label }}</td>
                      <td class="text-right">{{ order.total_price | money_without_trailing_zeros }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <div class="mt-14 mb-6">
                {{ paginate | default_pagination }}
              </div>
            </div>
          {% endpaginate %}
        {% else %}
          <p>You haven't placed any orders yet.</p>
        {% endif %}
      </div>
      <div class="">       
        <h2 class="font-matter text-15 text-brown">Addresses</h2>
        <div class="mb-4">
          {{ customer.default_address | format_address }}
        </div>
        <a href="/account/addresses" class="font-matter tracking-wider text-13 leading-tight text-brown pb-1 border-b border-brown hover:text-orange hover:border-orange">
          View Addresses ({{ customer.addresses_count }})
        </a>
      </div>
    </div>
  </div>
</div>
