<div class="account">
  <div class="container">
    <div class="inner">

      <h1 class="text-center">Manage Addresses</h1>

      <div id="add_address" class="customer_address edit_address" style="display:none;">
        <div class="form">
          {% form 'customer_address', customer.new_address %}
          <div class="form customer_address_table">
            <div class="field">
              <label>First Name</label>
              <input type="text" id="address_first_name_new" name="address[first_name]" value="{{form.first_name}}" size="40" />
            </div>
            <div class="field">
              <label>Last Name</label>
              <input type="text" id="address_last_name_new" name="address[last_name]" value="{{form.last_name}}" size="40" />
            </div>
            <div class="field">
              <label>Company</label>
              <input type="text" id="address_company_new" name="address[company]" value="{{form.company}}" size="40" />
            </div>
            <div class="field">
              <label>Address Line 1</label>
              <input type="text" id="address_address1_new" name="address[address1]" value="{{form.address1}}" size="40" />
            </div>
            <div class="field">
              <label>Address Line 2</label>
              <input type="text" id="address_address2_new" name="address[address2]" value="{{form.address2}}" size="40" />
            </div>
            <div class="field">
              <label>City</label>
              <input type="text" id="address_city_new" name="address[city]" value="{{form.city}}" size="40" />
            </div>
            <div class="field">
              <label>Country</label>
              <div class="select_wrap">
                <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
              </div>
            </div>
            <div id="address_province_container_new" style="display:none" class="field">
              <label>State / Province</label>
              <div class="select_wrap">
                <select id="address_province_new" name="address[province]" data-default="{{form.province}}"></select>
              </div>
            </div>
            <div class="field">
              <label>Zip</label>
              <input type="text" id="address_zip_new" name="address[zip]" value="{{form.zip}}" size="40" />
            </div>
            <div class="field">
              <label>Phone</label>
              <input type="text" id="address_phone_new" name="address[phone]" value="{{form.phone}}" size="40" />
            </div>
            <div class="field">
              <p class="nomarg">{{ form.set_as_default_checkbox  }} Set as Default Address?</p>
            </div>
            <div class="text-center">
              <input type="submit" value="Add Address" class="button">
            </div>
          </div>
          <div class="actions text-center">
            <p><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Cancel</a></p>
          </div>          
          {% endform %}
        </div>
      </div>

      {% if customer.addresses.size > 0 %}
      
        <div id="address_tables">

          {% for address in customer.addresses %}
          
          <div class="address_table">
            <div id="view_address_{{address.id}}" class="customer_address">
              
              <p>
                <span>{{ address.street }}</span><br />
                {% if address == customer.default_address %}<span class="default_address note">(Default)</span><br />{% endif %}
                <span class="action_link action_edit">{{ "Edit" | edit_customer_address_link: address.id }}</span>
                <span class="action_link action_delete">{{ "Delete" | delete_customer_address_link: address.id }}</span>
              </p>
              <div class="view_address">
                <p>{{ address.first_name }} {{address.last_name }}</p>
                <p>{{ address.company }}</p>
                <p>{{ address.street }}</p>
                <p>{{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}</p>
                <p>{{ address.country }} {{ address.zip }}</p>
                <p>{{ address.phone }}</p>
              </div>
              
            </div>
            
            <div id="edit_address_{{address.id}}" class="customer_address edit_address" style="display:none;">
              
              {% form 'customer_address', address %}
              
                <div class="form customer_address_table">
                  <div class="field">
                    <label>First Name</label>
                    <input type="text" id="address_first_name_{{form.id}}" name="address[first_name]" value="{{form.first_name}}" size="40" />
                  </div>
                  <div class="field">
                    <label>Last Name</label>
                    <input type="text" id="address_last_name_{{form.id}}" name="address[last_name]" value="{{form.last_name}}" size="40" />
                  </div>
                  <div class="field">
                    <label>Company</label>
                    <input type="text" id="address_company_{{form.id}}" name="address[company]" value="{{form.company}}" size="40" />
                  </div>
                  <div class="field">
                    <label>Address Line 1</label>
                    <input type="text" id="address_address1_{{form.id}}" name="address[address1]" value="{{form.address1}}" size="40" />
                  </div>
                  <div class="field">
                    <label>Address Line 2</label>
                    <input type="text" id="address_address2_{{form.id}}" name="address[address2]" value="{{form.address2}}" size="40"  />
                  </div>
                  <div class="field">
                    <label>City</label>
                    <input type="text" id="address_city_{{form.id}}" name="address[city]" value="{{form.city}}" size="40" />
                  </div>
                  <div class="field">
                    <label>Country</label>
                    <div class="select_wrap">
                      <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                    </div>
                  </div>
                  <div id="address_province_container_{{form.id}}" style="display:none" class="field">
                    <label>Province</label>
                    <div class="select_wrap">
                      <select id="address_province_{{form.id}}" name="address[province]" data-default="{{form.province}}"></select>
                    </div>
                  </div>
                  <div class="field">
                    <label>Zip</label>
                    <input type="text" id="address_zip_{{form.id}}" name="address[zip]" value="{{form.zip}}" size="40" />
                  </div>
                  <div class="field">
                    <label>Phone</label>
                    <input type="text" id="address_phone_{{form.id}}" name="address[phone]" value="{{form.phone}}" size="40" />
                  </div>
                  <div class="field">
                    <p class="nomarg">{{ form.set_as_default_checkbox }} Set as Default Address?</p>
                  </div>
                  <div class="text-center">
                    <input type="submit" value="Update Address" class="button">
                  </div>
                  <div class="actions text-center">
                    <p><a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">Cancel</a></p>
                  </div>
                </div>
              
              {% endform %}
              
            </div>
          </div><!-- end .address_table -->
          
          {% endfor %}

        </div><!-- end #address_tables -->
      
      {% endif %}

      <div class="actions text-center">
        <p>
          <a href="/account">Return To Account</a> <span class="divider">|</span> <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add New Address</a>
        </p>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
  {% endfor %}
</script>