<div class="account order-page">
  <div class="container">
    <div class="inner"> 

      <h1 class="text-center">Order {{ order.name }}</h1>

      {% if order.cancelled %}
      <p id="order_cancelled" class="flash notice note">
        <span id="order_cancelled_title">Order Cancelled <span class="note">on {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }}</span></span>
        <span class="note">{{ order.cancel_reason }}</span>
      </p>
      {% endif %}

      <p style="max-width:none;">
        Order placed on {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}.<br />
        Fulfillment status: {{ order.fulfillment_status | capitalize }}.<br />
        Payment status: {{ order.financial_status | capitalize }}.
      </p>

      <table id="order_details" border="0">
        <thead>
          <tr>
            <th>Item</th>
            <th class="center">Price</th>
            <th class="center">Quantity</th>
            <th class="total">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.id }}" class="{% cycle 'odd', 'even' %}">
            <td>
              {{ line_item.title | link_to: line_item.product.url }} 
              {% if line_item.fulfillment %}
              <div class="note">
                Fulfilled {{ line_item.fulfillment.created_at | date: "%b %d" }}
                {% if line_item.fulfillment.tracking_number %}
                <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                {% endif %}
              </div>
              {% endif %}
            </td>
            <td class="center">{{ line_item.price | money_without_trailing_zeros }}</td>
            <td class="center">{{ line_item.quantity }}</td>
            <td class="total">{{ line_item.quantity | times: line_item.price | money_without_trailing_zeros }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td class="label" colspan="3">Subtotal:</td>
            <td class="total">{{ order.subtotal_price | money_without_trailing_zeros }}</td>
          </tr>

          {% for discount in order.discounts %}
          <tr>
            <td class="label" colspan="3">{{ discount.code }} Discount:</td>
            <td class="total">{{ discount.savings | money_without_trailing_zeros }}</td>
          </tr>
          {% endfor %}

          {% for shipping_method in order.shipping_methods %}
          <tr>
            <td class="label" colspan="3">Shipping ({{ shipping_method.title }}):</td>
            <td class="total">{{ shipping_method.price | money_without_trailing_zeros }}</td>
          </tr>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
          <tr>
            <td class="label" colspan="3">Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%):</td>
            <td class="total">{{ tax_line.price | money_without_trailing_zeros }}</td>
          </tr>
          {% endfor %}

          <tr>
            <td class="label" colspan="3">Total:</td>
            <td class="total">{{ order.total_price | money_without_trailing_zeros }}</td>
          </tr>
        </tfoot>
      </table>

      <div id="order_address" class="group">
        <div id="order_payment">
          <div class="address note">
            <p>Billed to: {{ order.billing_address.name }}</p>
            {% if order.billing_address.company %}
              <p>{{ order.billing_address.company }}</p>
            {% endif %}
            {% if order.billing_address.street %}
              <p>{{ order.billing_address.street }}</p>
            {% endif %}
            {% if order.billing_address.city and order.billing_address.province %}
              <p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
            {% endif %}
            {% if order.billing_address.country and order.billing_address.zip %}
              <p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
            {% endif %}
            {% if order.billing_address.phone %}
              <p>{{ order.billing_address.phone }}</p>
            {% endif %}
          </div>
        </div>
        {% if order.shipping_address %}
        <div id="order_shipping">
          <div class="address note">
            <p>Shipped to: {{ order.shipping_address.name }}</p>
            {% if order.shipping_address.company %}
              <p>{{ order.shipping_address.company }}</p>
            {% endif %}
            {% if order.shipping_address.street %}
              <p>{{ order.shipping_address.street }}</p>
            {% endif %}
            {% if order.shipping_address.city and order.shipping_address.province %}
              <p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
            {% endif %}
            {% if order.shipping_address.country and order.shipping_address.zip  %}
              <p>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</p>
            {% endif %}
            {% if order.shipping_address.phone %}
              <p>{{ order.shipping_address.phone }}</p>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>

      <div class="actions text-center">
        <p><a href="/account">Return to Account</a></p>
      </div>

    </div>
  </div>
</div>