<section class="home__quote relative bg-cream pb-32">
    <div class="container-full">
        <div class="grid grid-cols-3 items-center gap-24 pr-20">
            <div class="py-12 -mr-32">
                {% if section.settings.image != blank %}
                    <img src="{{ section.settings.image | img_url: '1200x1500' }}" class="" loading="lazy" alt="{{ section.settings.image.alt }}" />                    
                {% endif %}            
            </div>
            <div class="col-span-2">
                <div class="flex justify-end">
                    {% if section.settings.image_2 != blank %}
                        <img src="{{ section.settings.image_2 | img_url: '300x340' }}" class="max-w-[163px]" loading="lazy" alt="{{ section.settings.image_2.alt }}" />                    
                    {% endif %}                      
                </div>
                <div class="py-24 pl-40">
                    {% if section.settings.quote != blank %}
                        <p class="home__quote-text font-heading text-38 leading-[1.265] mb-8">{{ section.settings.quote }}</p>
                    {% endif %}
                    {% if section.settings.title != blank %}
                        <p class="font-matter text-18 text-brown">{{ section.settings.title }}</p>
                    {% endif %}                    
                    {% if section.settings.role != blank %}
                        <p class="font-italic text-24 text-brown">{{ section.settings.role }}</p>
                    {% endif %}                       
                </div>
                <div class="flex justify-center">
                    {% if section.settings.image_3 != blank %}
                        <img src="{{ section.settings.image_3 | img_url: '400x450' }}" class="max-w-[197px]" loading="lazy" alt="{{ section.settings.image_3.alt }}" />                    
                    {% endif %}                               
                </div>                
            </div> 
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Quote",
    "settings": [        
        {
            "type": "textarea",
            "id": "quote",
            "label": "Quote",
            "default": "Quote about the importance of sustainability goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. "
        },
        {
            "type": "text",
            "id": "title",
            "label": "Name",
            "default": "Jenan"
         },
         {
            "type": "text",
            "id": "role",
            "label": "Role",
            "default": "CEO of BASK"
         },
         {
            "type": "image_picker",
            "id": "image",
            "label": "Image 1",
            "info": "Recommended Image Dimensions: 1200x1500"
        },          
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "Recommended Image Dimensions: 300x400"
        },           
        {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3",
            "info": "Recommended Image Dimensions: 400x450"
        }                                           
    ]
}
{% endschema %}