{% assign col = collections[section.settings.collection] %}

<section class="home__featured relative bg-cream pt-32">
    <div class="container-full">
        <div class="grid grid-cols-3 gap-24 pb-32 border-b border-brown">
            <div class="col-span-2 pr-36">
                <div class="text-17 space-y-8">
                    {% if section.settings.title != blank %}
                        <h2 class="font-matter text-18 text-brown">{{ section.settings.title }}</h2>
                    {% endif %}
                    <div>
                        <h3 class="font-matter text-24">{{ col.title }}</h3>
                        {% if section.settings.headline != blank %}
                            <h4 class="font-italic text-24"><span class="font-heading">(</span>{{ section.settings.headline }}<span class="font-heading">)</span></h4>
                        {% endif %}                        
                    </div>
                    <img src="https://via.placeholder.com/1200x1500" loading="lazy" />             
                    {% comment %} {% if section.settings.image != blank %}
                        <img src="{{ section.settings.image | img_url: '1200x1500' }}" class="" loading="lazy" />                    
                    {% endif %}                 {% endcomment %}                    
                </div>
            </div>
            <div class="col-start-3 -ml-40 space-y-12">
                <img src="https://via.placeholder.com/1200x1500" loading="lazy" />             
                {% comment %} {% if section.settings.image_2 != blank %}
                    <img src="{{ section.settings.image_2 | img_url: '1200x1500' }}" class="" loading="lazy" />                    
                {% endif %}                 {% endcomment %}
                {% if col.description %}{{ col.description }}{% endif %}
                <div class="">
                    <a href="{{ col.url }}" class="arrow-link-wrap">
                        <div class="arrow-link text-brown">{{ section.settings.link_text }}</div>
                        <svg width="35px" height="18px" viewBox="0 0 35 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-133.000000, -1134.000000)" fill="#A67C52">
                                    <g transform="translate(133.000000, 1134.000000)">
                                        <path d="M34.6920857,8.50390775 L34.6908541,8.50390775 C31.5550551,8.50390775 29.2481613,6.42079807 28.1519865,5.1785767 C26.5206566,3.33010883 25.6412535,1.26770283 25.6418693,0.265431917 L25.6418693,0 L24.4921174,0 L24.4921174,0.265431917 C24.4921174,2.19459109 26.8685998,6.54873625 30.6892001,8.50443861 L0,8.50390775 L0,9.49556139 L30.6873526,9.49556139 C29.4409156,10.1294128 28.2646831,11.0552393 27.2374811,12.2210163 C25.4355667,14.2621877 24.4927332,16.5395936 24.4921174,17.7340372 L24.4921174,18 L25.6412535,17.9984074 L25.6412535,17.7335064 C25.6412535,16.7312354 26.5206566,14.6688294 28.1513707,12.8208924 C29.2500088,11.5786711 31.5605975,9.49556139 34.6896224,9.49556139 L34.6920857,9.49556139 L35,9.49556139 L35,8.50390775 L34.6920857,8.50390775 Z" id="Fill-1"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Featured",
    "settings": [        
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured Collection"
         },
         {
            "type": "collection",
            "id": "collection",
            "label": "Collection"        
         },      
         {
            "type": "text",
            "id": "link_text",
            "label": "Link Text",
            "default": "Shop Collection",
            "info": "URL is the collection URL set above."
         },            
         {
            "type": "image_picker",
            "id": "image",
            "label": "Image 1",
            "info": "Recommended Image Dimensions: 300x400"
        },             
         {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "Recommended Image Dimensions: 1200x1500"
        }        
    ]  
}
{% endschema %}